body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;  /* จัดตำแหน่งเนื้อหาในแนวนอน */
    align-items: center;      /* จัดตำแหน่งเนื้อหาในแนวตั้ง */
    height: 100vh;            /* ใช้ความสูงของหน้าจอทั้งหมด */
    margin: 0;                /* เอาขอบออก */
    text-align: center;       /* ให้ข้อความอยู่ตรงกลาง */
    background-color: #000000;

}

#home-page, #slideshow-page, #final-message {
    display: flex;
    flex-direction: column;   /* วางเนื้อหาตามแนวตั้ง */
    justify-content: center;  /* จัดตำแหน่งเนื้อหาในแนวนอน */
    align-items: center;      /* จัดตำแหน่งเนื้อหาในแนวตั้ง */
    color: #ffffff;
}

#birthday-message {
    font-size: 40px;
    cursor: pointer;
}

#slideshow-page {
    margin-top: 50px;
}

#final-message {
    margin-top: 50px;
    font-size: 24px;
    color: rgb(255, 0, 0);
}

.cake {
    font-size: 50px;
    animation: bounce 1s infinite alternate;
}

#slideshow-image {
    width: 80%;
    height: 60%;
    object-fit: cover;
}

#final-message h3, #final-message p {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    margin: 10px 0;
    color: #ff0000;
}
.Hbd{
    color: #ff0000;
}